.tab {
  background: #d5edef;
  display: flex;
  justify-content: space-evenly;
}
.tab > div {
  margin: 15px;
  text-align: center;
}
.tab button {
  border: none;
  background: #14718a;
  color: white;
  padding: 12px 13px;
  border-radius: 5px;
}
.tab > div:nth-child(2) {
  margin-bottom: 0 !important;
  background: #14718a;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0 30px;
}
.line {
  height: 23px;
  background: #14718a;
}
#container {
  display: flex;
}
.cart-list {
  width: 60%;
  padding: 20px;
}
.cart-list > div {
  padding: 10px;
  display: flex;
  width: 100%;
  margin: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.empty-cart {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.imgdiv {
  width: 40%;
}
.detaildiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 60%;
  padding: 20px;
}
.checkout-list {
  text-align: center;
  margin: 30px;
  width: 40%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.checkout-details {
  color: red;
  text-decoration: underline;
  margin-bottom: 30px;
}
@media only screen and (max-width: 900px) {
  #container {
    flex-direction: column;
  }
  .checkout-list {
    width: 100%;
  }
  .cart-list {
    width: 100%;
  }
  .cart-list > div {
    flex-direction: column;
  }
  .imgdiv {
    width: 100%;
  }
  .detaildiv {
    width: 100%;
  }
}
.checkout-list > div {
  display: flex;
  justify-content: space-between;
}
.price_div {
  align-items: flex-end;
  margin: 0 10px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}
.strikeoff {
  text-decoration: line-through;
}
.red {
  color: red;
}
.price_div p {
  margin: 0;
  font-weight: bold;
}
.first {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.saving {
  margin-top: 30px;
  color: red;
}
.rmvbtn {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin: 20px 0;
  border: none;
  padding: 5px 0;
  border-radius: 30px;
  width: 25%;
  background: #202020;
  background: tomato;
  color: wheat;
}
.rmvbtn:hover {
  background: orangered;
  color: white;
  transform: scale(0.9, 0.9);
}
