body {
  margin: 0;
}
/* banner css */
.banner {
  padding: 15px;
  font-family: gotham\5r, GothamMedium, Helvetica, Arial, sans-serif;
  text-align: center;
  background: whitesmoke;
  font-size: small;
  word-spacing: 3px;
}
/* nav css */
.navbar {
  background: white;
}
.container-fluid {
  border-bottom: 1px solid lightgray;
}
.nav-item {
  width: 130px;
  text-align: center;
}
.nav-item:hover {
  background: whitesmoke;
}

.cart_value {
  color: tomato;
  font-weight: bold;
  transform: scale(0.5, 0.5);
  position: absolute;
  top: 40%;
  left: 49.5%;
  transform: translate(-20%, -50%);
}
.cart_price {
  color: tomato;
}
.nav-link > div {
  position: relative;
  text-align: center;
}
.nav-item img {
  height: 45px;
}
.nav-item p {
  display: inline;
  font-weight: bolder;
}
.dropdown-menu {
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .nav-item {
    width: 100%;
  }
  .cart_value h6 {
    left: 50.6%;
  }
}
.navbar-brand {
  width: 60%;
}
svg {
  margin: 5px 0 0;
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#signin:hover {
  background: white;
  cursor: auto;
}
#signin button {
  border: none;
  border-radius: 6px;
  padding: 3px 20px;
}
#signin button:hover {
  transform: scale(0.9, 0.9);
}

.dropdown-item > p:hover {
  text-decoration: underline;
}
/* ------footer css-------- */
#footer {
  background: whitesmoke;
  padding: 20px 50px;
}
.footer_top {
  display: flex;
  flex-wrap: wrap;
}
.footer_top > div {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 15px;
  width: 50%;
}
.footer_top > div:first-child {
  border-right: 1px solid lightgray;
}
@media only screen and (max-width: 1100px) {
  .footer_top > div {
    width: 100%;
  }
  .footer_top > div:first-child {
    border-bottom: 1px solid lightgray;
    border-right: none;
  }
}
.footer-top h6 {
  margin: 0;
}
.fa:hover {
  transform: scale(0.9, 0.9);
}
.fa {
  padding-top: 4px;
}
.qr_code {
  height: 80px;
}
.footer_top button {
  padding: 2px 20px;
}
.footer_top p {
  margin: 0 0 5px 0;
}
.footer_bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer_bottom > div {
  min-width: 200px;
}
@media only screen and (max-width: 1100px) {
  .footer_bottom {
    justify-content: flex-start;
  }
}
.footer_bottom h6 {
  margin-bottom: 25px;
}
.footer_bottom p {
  font-size: 14px;
  color: gray;
}
#footer > div:last-child {
  text-align: center;
  font-size: small;
  color: gray;
}
